apiVersion: operator.ibm.com/v1alpha1
kind: HelmAPI
metadata:
  name: helm-api
  annotations:
    helm.operator-sdk/upgrade-force: "True"
  labels:
    app.kubernetes.io/instance: helm-api
    app.kubernetes.io/managed-by: helmapis.operator.ibm.com
    app.kubernetes.io/name: helm-api
spec:
  auditService:
    config:
      enabled: true
    resources:
      limits:
        cpu: 200m
        memory: 250Mi
      requests:
        cpu: 200m
        memory: 250Mi
  helmapi:
    env:
      HTTP_PROXY: ""
      HTTPS_PROXY: ""
      NO_PROXY: mycluster.icp,mongodb,platform-identity-provider,platform-identity-management,icp-management-ingress,iam-pap,localhost,127.0.0.1
    resources:
      limits:
        cpu: 300m
        memory: 400Mi
      requests:
        cpu: 300m
        memory: 400Mi
  replicaCount: 1
  rudder:
    resources:
      limits:
        cpu: 150m
        memory: 128Mi
      requests:
        cpu: 150m
        memory: 128Mi
  tiller:
    resources:
      limits:
        cpu: 100m
        memory: 128Mi
      requests:
        cpu: 100m
        memory: 128Mi