apiVersion: apps/v1
kind: Deployment
metadata:
  name: ibm-helm-api-operator
  labels:
      name: ibm-helm-api-operator
      app.kubernetes.io/instance: helm-api
      app.kubernetes.io/managed-by: helmapis.operator.ibm.com
      app.kubernetes.io/name: helmapis.operator.ibm.com
spec:
  replicas: 1
  selector:
    matchLabels:
      name: ibm-helm-api-operator
  template:
    metadata:
      labels:
        name: ibm-helm-api-operator
        app.kubernetes.io/instance: helm-api
        app.kubernetes.io/managed-by: helmapis.operator.ibm.com
        app.kubernetes.io/name: helmapis.operator.ibm.com
      annotations:
        productName: IBM Cloud Platform Common Services
        productID: "068a62892a1e4db39641342e592daa25"
        productVersion: "3.4.0"
        productMetric: FREE
    spec:
      serviceAccountName: ibm-helm-api-operator
      hostNetwork: false
      hostPID: false
      hostIPC: false
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/arch
                operator: In
                values:
                  - amd64
                  - ppc64le
                  - s390x
      containers:
        - name: ibm-helm-api-operator
          image: quay.io/opencloudio/ibm-helm-api-operator:latest
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "ibm-helm-api-operator"
            - name: OPERAND_AUDIT_SERVICE_ENABLED
              value: "false"              
            - name: OPERAND_AUDIT_SERVICE_IMAGE
              value: "quay.io/opencloudio/icp-audit-service@sha256:24a220374c39652f8b031637d852995bfaec5be2601f9e4c41eb1925531f466d"
            - name: OPERAND_HELM_API_IMAGE
              value: "quay.io/opencloudio/icp-helm-api@sha256:78ad65696a3b51cb37540e721fa185d99f86eb90061141c14dc01647602d5a9f"  
            - name: OPERAND_RUDDER_IMAGE
              value: "quay.io/opencloudio/icp-helm-rudder@sha256:437c980277a700f7f53db1ac88ae1d10488033b52422bf17654a82717c6f22af"
            - name: OPERAND_TILLER_IMAGE
              value: "quay.io/opencloudio/tiller@sha256:a7539700cdc49623efd9c049760d9b5c32329c498be55f30a87835afdc43fe47"
          resources:
            limits:
              cpu: 150m
              memory: 256Mi
            requests:
              cpu: 150m
              memory: 256Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true